/* ========================================
   TEXTAREA
   Usage:
   <label class="adaptive input">
     <span class="input__label">Label</span>
     <textarea class="adaptive textarea" data-material="filled-2" data-interactive></textarea>
   </label>
   ======================================== */

.textarea {
  padding: var(--size-padding);
  font-family: inherit;
  outline: none;
  width: 100%;
  min-height: calc(var(--size-container) * 3);
  resize: vertical;
  box-sizing: border-box;
}
